* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: 'Roboto Condensed', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.navigation {
  background-color: #333;
  color: #eee;
  width: 100%;
  position: relative;
}

.header {
  margin: 0 20px;
  position: absolute;
  top: 10px;
  left: 42.5%;
  letter-spacing: 2px;
  font-weight: 300;
}

.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}

ul.navigation {
  display: inline;
}

ul.float-right li, ul.float-left li {
  display: inline;
  padding: 20px 10px;
  font-size: 1.2em;
  letter-spacing: 2px;
  transition: all .3s ease-in-out;
}

ul.float-right li:nth-child(2), ul.float-left li:first-child {
  margin-right: 10px;
}

ul.float-right li:hover, ul.float-left li:hover {
  background-color: black;
}

ul.float-left li {
  float: left;
}

ul.float-right li {
  float: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.hero {
  width: 100%;
  position: relative;
  background-color: #efefef;
  padding:22px 0;
}

.hero-title {
  position: absolute;
  top: 90%;
  left: 38%;
  color: #111;
  letter-spacing: 2px;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 2em;
  font-family: 'Vollkorn SC', serif;
}

.hero-img {
  width: 55%;
  display: block;
  max-width: 100%;
}

.form {
  width: 35%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2em;
  margin-top: 1em;
  border: 1px solid #999;
  border-radius: 5px;
}

.form h2 {
  margin-bottom: 0;
  color: #999;
  text-align: center;
}

.form-group {
  width: 90%;
  margin: 0 auto;
}

.input {
  padding: 15px;
}

.input input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 8px;
}

.input label {
  font-size: 1.3em;
  color: #888;
}

.sign-up {
  padding: 10px 15px;
  width: 30%;
  display: block;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 5px;
  background-color: #01b501;
  color: #fff;
  font-size: 1.1em;
  transition: all .3s ease-in-out;
}

button.sign-up:hover {
  background-color: #019201;
}

.main {
  width: 95%;
  margin: auto;
}

.main div.float-left{
  width: 33.33%;
  background-color: #1a3a5a;
  height: 472px;
  border: 1px solid #e6e3e3;
}

.main div.float-left:nth-child(even) {
  background-color: #efefef;
}

.main-image {
  display: block;
  margin: auto;
  width: 55%;
  padding-top: 60px;
}

.summary {
  color: #fff;
  padding: 1em 2em;;
  text-align: justify;
}

.main div.float-left:nth-child(even) p {
  color: #999;
}

.footer {
  color: #eee;
  font-size: 1.2em;
  text-align: center;
  background-color: #333;
  height: 100px;
  padding-top: 40px;
}

.footer > p {
  margin: 0;
  letter-spacing: 2px;
  font-weight: 300;
}
